html,
body {
  padding: 0;
  margin : 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth !important;
}

a {
  color          : inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.scroll-mt {
  scroll-margin-block-start: 80px;
}

.scroll-mt-11 {
  scroll-margin-block-start: 130px;
}
